// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_table{
	color: black;
	margin-left: 110px;
	margin-top: 50px;
}
table{
   border: 1px solid black;
   width: 70%;
}
th{
	height: 50px;
	border: 1px solid black;
}
td{
	border: 1px solid black;
	text-align: center;	
}
