// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_table{
	color: black;
	margin-left: 110px;
	margin-top: 50px;
}
table{  
   width: 50%;
}
th{
	height: 50px;	
}
td{
	
	text-align: center;	
}

#cartitem{
	width: 60%;
	height: 120px;
	background-color: whitesmoke;
	float: left;
	color: black;
	border: 1px solid black;
}

#cartimg{
	width: 50px;
	height: 100px;		
}
